* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.design {
  display: flex;
  width: 100%;
  height: 4481px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.headermenu {
  display: flex;
  width: 100%;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  background: rgba(245, 245, 247, 0.8);
}
.headtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  background: #fff;

  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.frame1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
  background-color: #f5f5f7;
}
.background {
  width: 100%;
  height: 75px;
  background: #f5f5f7;
}

.storehelp {
  width: 100%;
  height: 100px;
  display: flex;
  padding: 0 140px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.header {
  display: flex;
  align-items: center;
  gap: 32px;
}
.store {
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.01px; /* 118.205% */

  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gift {
  color: #6e6e73;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.01px; /* 118.205% */
}
.shoppinghelp {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.askq {
  display: flex;
  width: 175px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.ask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.ask-text {
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.ask-text1 {
  display: flex;
  width: 130px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  color: #06c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.ask1-text1 {
  display: flex;
  width: 130px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  color: #06c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-decoration: none;
}
.q {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.productlist {
  display: flex;
  padding: 0 140px;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 146px;
  justify-content: center;
}
.list {
  display: flex;
  width: 136px;
  padding: 16px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.item-text {
  display: flex;
  width: 136px;
  height: 16px;
  flex-direction: column;
  justify-content: center;

  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.frame65 {
  width: 100%;
  height: 3836px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 60px;
  align-self: stretch;
}

.section1 {
  width: 100%;
  height: 558px;
  display: flex;
  padding: 0 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.section-title {
  display: flex;
  width: 331.64px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #6e6e73;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.highlight {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */

  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.itemdetial {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.listitem {
  position: relative;
  width: 480px;
  height: 500px;
  background: url(<path-to-image>) lightgray 0px 0px / 100% 100% no-repeat;
  gap: 12px;
}

#iphone16pro {
  background-image: url("./images1/store-card-50-holiday-iphone-pro-202411_GEO_US.png");
}
#watch10 {
  background-image: url("./images1/store-card-50-holiday-watch-s10-202411.png");
}
#ipadmini {
  background-image: url("./images1/store-card-50-holiday-ipad-mini-202411.png");
}
#macpro {
  background-image: url("./images1/store-card-50-holiday-macbook-pro-202411.png");
}
.listitemout {
  display: flex;
  width: 322px;
  height: 88px;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 9px;
}
.listitem-head {
  display: flex;
}

.heading3 {
  display: flex;
  width: 132px;
  height: 14px;
  flex-direction: column;
  justify-content: center;

  color: #b64400;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.listdetial {
  gap: 12px;
}
.listitem-text {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  letter-spacing: 0.196px;
}

.listitem-text1 {
  display: flex;
  height: 20px;
  width: 322px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;

  color: #1d1d1f;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
