.menubar {
  display: none;
}
.logo {
  display: flex;
}
.background31 {
  display: none;
}
#airpod4 {
  display: none;
}
#business {
  display: none;
  padding: 52px;

  align-items: center;
}
#carrier {
  display: flex;
  justify-content: flex-end;
  display: none;
}
@media (max-width: 768px) {
  .background3 {
    display: none;
  }
  .background31 {
    display: block;
  }

  .menubar {
    display: block;
  }
  .head-textnav {
    display: none;
  }
  .frame1 {
    height: 156px;
    gap: 0px;
  }
  .background1 {
    background-image: url("tablet/background1tablet.png");
  }
  .logo {
    justify-content: space-between;
    width: 100%;
    gap: 24px;
    padding: 16px;
  }
  .frame1-text {
    font-size: 42px;
  }
  .frame1-text1 {
    font-size: 22px;
  }
  .frame2-text {
    font-size: 42px;
  }
  .frame2-text1 {
    font-size: 22px;
  }
  .background2 {
    background-image: url("tablet/back2.png");
  }
  .background3 {
    background-image: url("tablet/back3.png");
  }
  .back311 {
    display: flex;
    width: 100vw;
  }
  .background31 .buttons {
    margin-top: 0;
    font-size: 22px;
  }

  .back311 .frame5 {
    gap: 8px;
    padding-block: 48px 16px;
  }
  .back311 .subtitle {
    font-size: 22px;
  }
  .airpod1 {
    font-size: 30px;
  }
  .pod {
    font-size: 18px;
    width: 240px;
  }
  h2 {
    font-size: 28px;
  }
  #iPad {
    display: none;
  }

  #airpod4 {
    display: flex;
  }
  #airpod {
    display: none;
  }
  #watch {
    background-image: url("./tablet/watch.png");
  }
  #business {
    background-image: url("./tablet/small.png");
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #carrier {
    background-image: url("./tablet/career.png");
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #card {
    display: none;
  }
  .scroll {
    height: 368px;
  }
  .scroll-item {
    min-width: 689px;
  }
  .half {
    height: 161px;
  }
  .linka {
    height: 161px;
    width: 286px;
  }
  .listen-button {
    top: 30%;
    left: 25%;
  }
}
#business h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 72px;
}
#business p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 72px;
}

#carrier p {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 390px) {
  .background1 {
    background-image: url("./mobile/back1.png");
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 500px;
    width: 100vw;
  }
  .background2 {
    background-image: url("./mobile/back2.png");
    height: 500px;
  }
  .frame1 {
    gap: 0px;
    height: 114px;
  }
  .frame2 {
    gap: 0;
    height: 114px;
  }
  .background1 .buttons {
    margin-bottom: 36px;
  }
  .frame1-text {
    font-size: 30px;
  }
  .frame1-text1 {
    font-size: 18px;
  }
  .frame2-text {
    font-size: 28px;
  }
  .frame2-text1 {
    font-size: 18px;
  }
  .back311 {
    width: 390px;
  }
  .background31 .buttons {
    font-size: 14px;
  }

  .background31 .subtitle {
    font-size: 18px;
  }
  #airpod4 {
    width: 390px;
    height: 500px;
  }
  .background4 {
    gap: 12px;
    display: grid;
    margin-bottom: 12px;
    grid-auto-rows: 580px;
    background-size: cover;
  }
}
